<!-- Início do header -->
<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-header">
            <a [routerLink]="['/']" class="navbar-brand"><b>CustOObra</b></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                   <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/']">Início</a></li>
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/']">Fórum</a></li>
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/']">Pesquisa</a></li>
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/estimativa']">Estimativa</a></li>
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/']">Links</a></li>
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/']">Orçamentação</a></li>
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="['/']">Sobre</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</header>
<!-- Fim do header -->